html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  font-family: sans-serif; /* You can set a default font here */
}

.main-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-container {
  border: 1px solid #000;
  width: 424px;
  height: 97%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.todo-header {
  width: 100%;
  background-color: #3556AB;
  height: 123px;

}
.todo-header-info{
width: 292px;

padding-top: 19px ;
padding-left: 32px;
display: flex;
height: 84px;
}
.avatar{
  height:50px;
  width: 50px;
  background-color: #000;
  border-radius: 50%;
  margin-right: 15px;
}
.greeting-container {
width: 221px;
height: 153px;
}

.greeting-container h1 {

  height: 19px;
  font-family: 'Roboto', sans-serif; 
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  text-align: left;
  color: #FFFFFF;
  margin: 0;
}
.greeting-container p
{
  font-family: 'Roboto', sans-serif; 
  font-size: 25px;
  font-style: italic;
  font-weight: 100;
  text-align: left;
  color: #FFFFFF;
  text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
  margin: 0;
  
}
.upgrade-container {
  width: 100%;
  height: 130px;

}
.upgrade-image{
  width: 100%;
  height: 100%;
padding: 0;
margin: 0;


}
.upgrade-text {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 19.05px;
  text-align: left;
}

.upgrade-content{
  display: flex;
  margin-left: 24.93px;
}

.task-list {
  margin-top: 20px;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 91px;
  width: 382px;
  margin: 13px  auto;
  box-shadow: 0px 4px 4px 0px #0000001A;
}

